*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
#navbar{
    background-color:#1b729f;
}
#navbar img{
   width: 200px;
   height: auto;
   margin-left: 45%;
   border-radius: 200px;
  
   background: red;
}
